.group-card .mdl-card__title {
	padding-bottom: 0px;
}
.group-card .mdl-card__supporting-text {
	padding-top: 7px;
}
.group-card hr {
	margin: .3em;
}
.group-card {
    margin-bottom: 20px;
}
.half-of-screen-v {
	height: 50%;
}
.label-column {
    border-left: 3px dashed #FF4081;
    padding: 8px;
    font-size: 22px;
    line-height: 130%;
    background: linear-gradient(90deg,#fff,#3F51B5 3px);
    color: #fff;
}
.group-content section {
    position: relative;
    margin-bottom: 48px;
}
.group-content section.section--center {
    max-width: 860px;
}
#overwiev {
    margin-top: 30px;
}
.group-content section > button {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
}
.group-content .mdl-card__actions {
    margin: 0;
    padding: 4px 40px;
    color: inherit;
}
.group-content .mdl-card > * {
    height: auto;
}
.group-content .mdl-card__actions a {
    color: #00BCD4;
}
.group-content section .section__circle-container > .section__circle-container__circle {
    width: 64px;
height: 64px;
border-radius: 32px;
margin: 25px 0 0 20px;
}
.group-content .mdl-card .mdl-card__supporting-text {
    margin: 40px;
    flex-grow: 1;
    padding: 0;
    width: calc(100% - 80px);
}
.group-content .mdl-card .mdl-card__supporting-text .section__text a {
    margin-left: 30px;
}
.group-content #overwiev .mdl-card__actions a.mdl-button:nth-child(2) {
    float: right;
}
.group-content .mdl-card__supporting-text h6 button {
    margin-left: 60px;
}
.group-content .mdl-card__supporting-text h4:not(:first-child) {
    margin-top: 20px;
}
.table-addbutton {
	background-color: #4CAF50;
	font-size: 11px;
	height: 24px;
	line-height: 24px;
}
.table-delbutton {
	background-color: #F44336;
	font-size: 11px;
	height: 24px;
	line-height: 24px;
}
#question-preview {
	position: fixed;
	top: 200px;
	left: calc(50% - 165px);
}
#blur {
	display:none;
	width: 100%;
height: 100%;
position: fixed;
top: 0px;
left: 0px;
background: rgba(255,255,255,.7);
}
.settings-questions-section .mdl-data-table td:nth-child(3) {
	cursor:pointer;
}
#question-text {
	margin:14px;
}
#question-answers a {
    display: block;
    text-align: left;
}
.settings-tags-section .mdl-chip, .add-group-section .mdl-chip {
	margin-right: 15px;
}
.group-description-container {
	left: 30px;
}
.add-group-section hr{
	width: 100%;
}